.badge {
  background-color: tomato;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
}

.badge--xs {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 18px;
  bottom: 18px;
}
