.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(243, 243, 243, 0.925);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(192, 192, 192, 0.445);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: none;
  }
}
.nav__notification {
  position: absolute;
  left: 12px;
  bottom: 12px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
